    <div id="app">
        <li v-for="item in persons">{{item.id+" "+item.name+" "+item.age}}</li>
        <li v-for="(item,index) in persons">{{index+": "+item.id+" "+item.name+" "+item.age}}</li>
        <li v-for="(item,key,index) in person[0]">{{index+": "+item+" "+key}}</li>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
 		var vm = Vue.createApp({
            data(){
                return {
                    message: '测试'
                }
            },
            methods:{ 
            }
        }).mount("#app");
    </script>