    <div id="app">
        <h2>新增</h2>
        <input type="text" placeholder="请输入编号" v-model="id" />
        <input type="text" placeholder="请输入姓名" v-model="name" />
        <button @click="add">添加</button><br/>
        <ul>
            <li v-for="person in persons" :key="person.id">
                <input type="checkbox" />
                {{person.id}}--{{person.name}}
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
 		var vm = Vue.createApp({
            data(){
                return {
                    persons: [
                        {'id':"1",'name':'张三'},
                        {'id':"2",'name':'李四'},
                        {'id':"3",'name':'王五'},
                        {'id':"4",'name':'赵六'},
                        {'id':"5",'name':'田七'},
                        {'id':"6",'name':'庞卓'}
                    ],
                    id:'',//v-model绑定
                    name:''
                }
            },
            methods: { 
                add() {
                    this.persons.splice(2,0,{id: this.id, name: this.name});
                }
            }
        }).mount("#app");
    </script>